header{
    background: rgb(231,97,58);
    background: linear-gradient(90deg, rgba(231,97,58,1) 0%, rgba(221,48,56,1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    padding: 100px;
}

.logo img{
    max-width: 100px;

}

